<div class="header">
    <a href="/" class="top_img" style="background-image: url(<%= rails_blob_url(@sitecontent.headimg.variant(resize_to_limit: [1024,450])) %>)">
        <h1><%= @sitecontent.title_site %></h1>
    </a>
</div>